venv
.envrc
*.pyc
.DS_Store
.idea/
__pycache__/
db.sqlite3
fm_images/
staticfiles
vendor_images/
status_images/
profile_images/

scraper/mi_images/
scraper/gvl_mainst_vendors\.csv
*.csv
scraper/test\.py
\.vscode/
