{% extends "base.html" %}
{% load review_tags %}
{% load app_filters %}
{% load tz %}

{% block title %}
    {{ object.fm_name }}
{% endblock %}
{% block head %}
    <style media="screen">
    .fm-hero {
        background: linear-gradient(rgba(23, 23, 23, 0.45), rgba(23, 23, 23, 0.45)),
                    url({{ object.fm_banner_picture_url }});
        height: 15em;
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }
    </style>
{% endblock %}

{% block hero %}
    <div class="fm-hero">
        <h1 class="hero-text text-center"><strong>{{ object.fm_name }}</strong></h1>
    </div>
{% endblock %}

{% block body %}
    <hr>
    {# Review Row #}
    <div class="row">
        <div class="small-4 columns">
            {# "Profile" Picture #}
            <img class="profile-picture" src="{{ object.fm_picture_url }}" alt="{{ object.fm_name }} Profile Picture" />
        </div>
        <div class="small-2 columns">
            {# Rating cirlce #}
            {% total_review_average object 5 as stars %}
            {% if stars %}
                <span class="badge badge-large"><strong>{{ stars }}</strong></span>
            {% else %}
                <span class="badge badge-large"><strong>-</strong></span><br>
            {% endif %}
        </div>
        <div class="small-6 columns">


            <form class="" action="{% url 'profile_fm_like_update_view' object.fm_slug request.user.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" name="fm_like" value="Like">
            </form>





            {# Rating Button #}
            {% if request.user.is_authenticated %}
                {% user_has_reviewed object request.user as has_reviewed %}
                <div class="float-center">
                {% if has_reviewed %}
                    <a class="large button disabled radius text-center" href="#"><strong>Thanks for your review!</strong><br><small>You have already reviewed this Farmers Market</small></a>
                {% else %}
                {# opens modal window #}
                <a data-open="reviewModal" class="large button success radius" >Add a Review</a>
                {# Review Modal #}
                <div class="reveal" id="reviewModal" data-reveal>
                    <h3>Review {{ vendor.vendor_name }}</h3>
                    <form method="post" action="{% url 'review_create' content_type='farmersmarket' object_id=farmersmarket.pk %}">
                        {% csrf_token %}
                        {{ review_form.as_p }}
                        <input type="submit" value="Save" />
                    </form>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            {% else %}
                    <a class="large button disabled radius text-center" href="#">Add a Review<br><small>Must Login to review.</small></a>
            {% endif %}
            </div>
        </div>
    </div>
    <hr>
    {# info row #}
    <div class="row">
        <div class="small-6 columns">
            <p>{{ object.fm_description }}</p>
        </div>
        <div class="small-6 columns">
            <p>
                <strong>Season of Operation:</strong> {{ object.fm_seasons_of_operation }}<br>
                <strong>Facilty Type:</strong> {{ object.fm_facility_type }}<br>
                <strong>Hours:</strong> {{ object.fm_hrs_of_operation }}<br>
                <strong>Programs Accpted:</strong> {{ object.fm_programs_accepted }}</p>
                {% if object.fm_website %}
                    <a class="secondary hollow button" href="{{ object.fm_website }}"><strong>Website</strong></a>
                {% endif %}
                <input data-open="forecast" class="secondary hollow button" type="submit" name="forecast" value="7-Day Forecast">
                {# <form class="" action="" method="get">#}
                    {# <a data-open="forecast" class="secondary hollow button" name="forecast" type="submit" href="?forecast"><strong>7-day Forcast</strong></a>#}
                {# </form>#}
                <div class="large reveal" id="forecast" data-reveal>
                    {# <h2>7-Day forecast for {{ object.fm_name }}</h2>#}
                    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="{{ forecast_iframe_url }}"> </iframe>
                    <h3>{{ forecast_summary }}</h3>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        </div>
    </div>
    <hr>
    {# Content Row #}
    <div class="row">
        <div class="small-7 columns boarder-right">
            {% if request.user == object.fm_user %}
                {# Button for owner to create status updates #}
                <a class="button" data-open="statusModal">Update Status</a>
                {# Modal to create new status #}
                <div class="reveal" id="statusModal" data-reveal>
                    <form class="" action="{% url 'farmers_market_status_create_view' object.fm_slug %}" method="post">
                        {% csrf_token %}
                        {{ fm_status_form.as_p }}
                        <input class="button" type="submit" name="submit" value="Submit Status">
                    </form>
                    <br>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            {# Bring in the status display list, also used in vendor Deatil page #}
            {% include "review_app/includes/status_list.html" %}

            <h3>Vendors you will see here.</h3>
            {% if vendor_list %}
                Sort...
                <div class="button-group">
                    <a href="{% url 'farmers_market_detail_view' object.fm_slug %}?rated=-average_rating" class="button">Highest Rated</a>
                    <a href="{% url 'farmers_market_detail_view' object.fm_slug %}?sort=-vendor_updated" class="button">Recently Updated</a>
                    <a href="{% url 'farmers_market_detail_view' object.fm_slug %}" class="button">Alphabetical</a>
                </div>

                <hr>
                {% if vendor_list_present %}
                {# !!! Also brings in 'No Response' !!! #}
                    <h3>Yes, We will be there!</h3>
                    {% for vendor in vendor_list_present %}
                        {% include "review_app/includes/vendor_list.html" %}
                    {% endfor %}
                    <hr>
                {% endif %}

                {% if vendor_list_no %}
                    <h3>We will miss this week.</h3>
                    {% for vendor in vendor_list_no %}
                        {% include "review_app/includes/vendor_list.html" %}
                    {% endfor %}
                    <hr>
                {% endif %}

                {# {% if vendor_list_nr %}#}
                <h3>No Response</h3>
                    {% for vendor in vendor_list_nr %}
                        {% include "review_app/includes/vendor_list.html" %}
                    {% endfor %}
                    <hr>
                {# {% endif %}#}

                <h1>OLD</h1>
                {% for vendor in vendor_list %}
                    {{ vendor.status_set.status_present }}
                    {% if vendor.status_set.status_present == NO_RESPONSE %}yes {% else %} no{% endif %}
                    {% include "review_app/includes/vendor_list.html" %}
                {% endfor %}

                {# No vendors listed #}
                {% else %}
                    <br>
                    <a class="button" href="{% url 'vendor_create_view' %}">No Vendors for this Famerms Market, Plase add some.</a>
            {% endif %}
            {# pagination #}
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                {% if vendor_list.has_previous %}
                    <li class="pagination-previous"><a href="?page={{ vendor_list.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
                {% endif %}
                {% for linkpage in vendor_list.paginator.page_range  %}
                    {% if linkpage == vendor_list.number %}
                        <li class="current"><span class="show-for-sr">You're on page</span>{{ linkpage }}</li>
                    {% else %}
                        <li><a href="?page={{ linkpage }}" aria-label="Page {{ linkpage }}">{{ linkpage }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if vendor_list.has_next %}
                    <li class="pagination-next"><a href="?page={{ vendor_list.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="small-5 columns">
            {# Map #}
            <iframe frameborder="0" style="border:0" src="{{ google_map }}" width="350px" height="250px" allowfullscreen></iframe>
            <p><strong>Address:</strong> <br>{{ object.fm_address }}<br>
            <strong>County:</strong> {{ object.fm_county }}<br>
            <strong>Phone:</strong> {{ object.fm_phone }}<br>
            <strong>Email:</strong> <a href="mailto:{{ object.fm_contact_email }}?subject=Hello!">{{ object.fm_contact_email }}</a><br>
            <strong>Contact Name:</strong> {{ object.fm_contact_name }}<br>
            <small><strong>updated:</strong> {{ object.fm_updated }}</small></p>  {# |timesince #}

            {% if request.user == object.fm_user %}
                <a class="button" href="{% url 'farmers_market_update_view' object.fm_slug %}">Update This Listing</a>
            {% endif %}
            <br>
            <hr>
            {# Start Review plug in code #}
            <h3>Reviews!</h3>
            <p>This Farmers Market got {{ stars }} out of 5 stars.</p>
            {% get_review_count object as review_count %}
            <p>{{ review_count }} reviews</p>
            <hr>
            {% get_reviews object as reviews %}
            {% for review in reviews %}
                <div class="callout">
                    <span class="badge"><strong>{{ review.get_average_rating }}</strong></span>
                    {% if review.content %}
                            {{ review.content|truncatewords:'70' }}
                        {% else %}
                            Reviewed without description.
                        {% endif %}
                    <a class="float-right" href="{% url "review_detail" pk=review.pk %}">details</a>
                </div>
            {% endfor %}
            {# End Review Plug in Info #}
        </div>
    </div>


{% endblock %}
