{% extends "base.html" %}
{% load review_tags %}
{% load app_filters %}
{% load tz %}

{% block title %}
    {{ object.fm_name }}
{% endblock %}
{% block head %}
    <style media="screen">
    .fm-hero {
        background: linear-gradient(rgba(23, 23, 23, 0.45), rgba(23, 23, 23, 0.45)),
                    url({{ object.fm_banner_picture_url }});
        height: 15em;
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }
    </style>
{% endblock %}

{% block hero %}
    <div class="fm-hero">
        <h1 class="hero-text text-center"><strong>{{ object.fm_name }}</strong></h1>
    </div>
{% endblock %}

{% block body %}
    <hr>
    {# Review Row #}
    <div class="row">
        <div class="small-4 columns">
            {# "Profile" Picture #}
            <img class="profile-picture" src="{{ object.fm_picture_url }}" alt="{{ object.fm_name }} Profile Picture" />
        </div>
        <div class="small-2 columns">
            {# Rating cirlce #}
            {% total_review_average object 5 as stars %}
            {% if stars %}
                <span class="badge badge-large"><strong>{{ stars }}</strong></span>
            {% else %}
                <span class="badge badge-large"><strong>-</strong></span><br>
            {% endif %}
        </div>
        <div class="small-6 columns">
            {# Rating Button #}
            {% if request.user.is_authenticated %}
                {% user_has_reviewed object request.user as has_reviewed %}
                <div class="float-center">
                {% if has_reviewed %}
                    <a class="large button disabled radius text-center" href="#"><strong>Thanks for your review!</strong><br><small>You have already reviewed this Farmers Market</small></a>
                {% else %}
                    <a class="large button success radius text-center" href="{% url "review_create" content_type='farmersmarket' object_id=farmersmarket.pk %}">Add a Review</a>
                {% endif %}
            {% else %}
                    <a class="large button disabled radius text-center" href="#">Add a Review<br><small>Must Login to review.</small></a>
            {% endif %}
            </div>
        </div>
    </div>
    <hr>
    {# info row #}
    <div class="row">
        <div class="small-6 columns">
            <p>{{ object.fm_description }}</p>
        </div>
        <div class="small-6 columns">
            <p>
                <strong>Season of Operation:</strong> {{ object.fm_seasons_of_operation }}<br>
                <strong>Facilty Type:</strong> {{ object.fm_facility_type }}<br>
                <strong>Hours:</strong> {{ object.fm_hrs_of_operation }}<br>
                <strong>Programs Accpted:</strong> {{ object.fm_programs_accepted }}</p>
                <a class="secondary hollow button" href="{{ object.fm_website }}"><strong>Website</strong></a>
                <input data-open="forecast" class="secondary hollow button" type="submit" name="forecast" value="7-Day Forecast">
                {# <form class="" action="" method="get">#}
                    {# <a data-open="forecast" class="secondary hollow button" name="forecast" type="submit" href="?forecast"><strong>7-day Forcast</strong></a>#}
                {# </form>#}
                <div class="large reveal" id="forecast" data-reveal>
                    <h2>7-Day forecast for {{ object.fm_name }}</h2>
                    <h3>{{ forecast_summary }}</h3>
                    <table>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Low</th>
                            <th></th>
                            <th>High</th>
                            <th></th>
                            <th colspan="2">Percipition Chace</th>
                        </tr>

                        {% for day in forecast %}
                        <tr>
                            <td>{{ day.time|fromunix|date:"D" }}</td>
                            <td>{{ day.time|fromunix|date:"M j" }}</td>
                            <td>{{ day.summary }}</td>
                            <td>{{ day.temperatureMin|floatformat:"0" }} °F</td>
                            <td><small>at</small> {{ day.temperatureMinTime|fromunix|localtime|date:"f a" }}</td>
                            <td>{{ day.temperatureMax|floatformat:"0" }} °F</td>
                            <td><small>at</small> {{ day.temperatureMaxTime|fromunix|localtime|date:"f a" }}</td>
                            <td>{{ day.precipProbability|to_percent }}%</td>
                            <td>{{ day.precipType }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <small class="text-center float-center">Powered by <a href="http://forecast.io/">Forecast</a></small>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        </div>
    </div>
    <hr>
    {# Content Row #}
    <div class="row">
        <div class="small-7 columns boarder-right">
            {% if request.user == object.fm_user %}
                {# Button for owner to create status updates #}
                <a class="button" data-open="statusModal">Update Status</a>
                {# Modal to create new status #}
                <div class="reveal" id="statusModal" data-reveal>
                    <form class="" action="{% url 'farmers_market_status_create_view' object.fm_slug %}" method="post">
                        {% csrf_token %}
                        {{ fm_status_form.as_p }}
                        <input class="button" type="submit" name="submit" value="Submit Status">
                    </form>
                    <br>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            {% if status_list %}
            <div class="callout">
                {# Will show status updates from the previous 7 days #}
                <h3>This week's Status Updates.</h3>
                <hr>
                {% for status in status_list %}
                <div class="row">
                    <div class="large-2 columns">
                        {{ status.status_present }}
                    </div>
                    <div class="large-8 columns">
                        <strong>{{ status.status_comment }}</strong>
                        <small>{{ status.status_created|date:"D, M d" }}</small>
                    </div>
                    <div class="small-2 columns">
                        {% if status.status_picture %}
                            <img class="thumbnail" src="{{ status.status_picture }}" alt="" /><br>
                        {% endif %}
                    </div>

                </div>
                    {# open modeal #}
                    <a data-open="statusDetailModal{{ status.pk }}">details</a>
                    {# status detail modal #}
                    <div class="reveal" id="statusDetailModal{{ status.pk }}" data-reveal>
                        <p class="lead">{{ object.fm_name }}</p>
                        <img class="" src="{{ status.status_picture }}" alt="" />
                        <p>{{ status.status_comment}}</p>
                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            <h3>Vendors you will see here.</h3>
            {% if vendor_list %}
            Sort...
            <div class="button-group">
                <a href="{% url 'farmers_market_detail_view' object.fm_slug %}?rated=-average_rating" class="button">Highest Rated</a>
                <a href="{% url 'farmers_market_detail_view' object.fm_slug %}?sort=-vendor_updated" class="button">Recently Updated</a>
                <a href="{% url 'farmers_market_detail_view' object.fm_slug %}" class="button">Alphabetical</a>
            </div>

            {% for vendor in vendor_list %}
                <div class="callout">
                    <div class="row">
                        <div class="large-2 columns">
                            <img class="list-thumb" src="{{ vendor.vendor_picture_url }}" alt="" />
                        </div>
                        <div class="large-7  columns">
                            <a href="{% url 'vendor_detail_view' vendor.vendor_slug %}"><h5>{{ vendor }}</h5></a>
                            {% if vendor.vendor_type %}
                                <p>{{ vendor.vendor_type }}</p>
                            {% endif %}
                            {% if vendor.get_recent_status.status_comment %}
                                <p>{{ vendor.get_recent_status.status_comment }} : {{ vendor.get_recent_status.status_present }}</p>
                            {% endif %}

                        </div>
                        <div class="small-3 columns">
                            {% total_review_average vendor 5 as stars %}
                            {% if stars == 0 %}
                                <span class="float-right">No reviews yet.</span>
                            {% else %}
                                <span class="badge float-right"><strong>{{ stars }}</strong></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <br>
                <a class="button" href="{% url 'vendor_create_view' %}">No Vendors for this Famerms Market, Plase add some.</a>
            {% endif %}

        </div>
        <div class="small-5 columns">
            {# Map #}
            <iframe frameborder="0" style="border:0" src="{{ google_map }}" width="350px" height="250px" allowfullscreen></iframe>
            <p><strong>Address:</strong> <br>{{ object.fm_address }}<br>
            <strong>County:</strong> {{ object.fm_county }}<br>
            <strong>Phone:</strong> {{ object.fm_phone }}<br>
            <strong>Email:</strong> <a href="mailto:{{ object.fm_contact_email }}?subject=Hello!">{{ object.fm_contact_email }}</a><br>
            <strong>Contact Name:</strong> {{ object.fm_contact_name }}<br>
            <small><strong>updated:</strong> {{ object.fm_updated }}</small></p>  {# |timesince #}

            {% if request.user == object.fm_user %}
                <a class="button" href="{% url 'farmers_market_update_view' object.fm_slug %}">Update This Listing</a>
            {% endif %}
            <br>
            <hr>
            {# Start Review plug in code #}
            <h3>Reviews!</h3>
            <p>This Farmers Market got {{ stars }} out of 5 stars.</p>
            {% get_review_count object as review_count %}
            <p>{{ review_count }} reviews</p>
            <hr>
            {% get_reviews object as reviews %}
            {% for review in reviews %}
                <div class="callout">
                    <span class="badge"><strong>{{ review.get_average_rating }}</strong></span>
                    {% if review.content %}
                            {{ review.content|truncatewords:'70' }}
                        {% else %}
                            Reviewed without description.
                        {% endif %}
                    <a class="float-right" href="{% url "review_detail" pk=review.pk %}">details</a>
                </div>
            {% endfor %}
            {# End Review Plug in Info #}
        </div>
    </div>


{% endblock %}
