{% extends "base.html" %}
{% load review_tags %}
{% block title %}
    All Farmers Markets
{% endblock %}
{% block body %}

    <h1>All farmers markets</h1>
    <div class="row">
        {# Main Columun #}
        <div class="medium-9 columns boarder-right">
            <div class="button-group">
                <a href="{% url 'farmers_market_list_view' %}?rated=-average_rating" class="button">Highest Rated</a>
                <a href="{% url 'farmers_market_list_view' %}?sort=-fm_updated" class="button">Recently Updated</a>
                <a href="{% url 'farmers_market_list_view' %}" class="button">Alphabetical</a>
            </div>
            {% for market in object_list %}
                <div class="callout">
                    <div class="row">
                        {# Thumbnail #}
                        <div class="small-1 columns">
                            <img class="list-thumb" src="{{ market.fm_picture_url}}" alt="{{ market.fm_name }}" />
                        </div>
                        {# Main FM content #}
                        <div class="small-8 columns">
                            <a href="{% url 'farmers_market_detail_view' fm_slug=market.fm_slug %}">
                                <strong>{{ market.fm_name }}</strong>
                            </a>
                            {% total_review_average market 5 as stars %}
                            {% if stars == 0 %}
                                <p>No reviews yet.</p>
                            {% else %}
                                <span class="badge"><strong>{{ stars|floatformat:1 }}</strong></span>
                            {% endif %}
                        </div>
                        {# FM Address #}
                        <div class="small-3 columns">
                            {{ market.fm_address }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <br>
            {# pagination #}
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                {% if page_obj.has_previous %}
                    <li class="pagination-previous"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
                {% endif %}
                {% for linkpage in paginator.page_range  %}
                    {% if linkpage == page_obj.number %}
                        <li class="current"><span class="show-for-sr">You're on page</span>{{ linkpage }}</li>
                    {% else %}
                        <li><a href="?page={{ linkpage }}" aria-label="Page {{ linkpage }}">{{ linkpage }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="pagination-next"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
                {% endif %}
            </ul>
            <br>

        </div> {# end med-9 #}
        {# SideBar column #}
        <div class="medium-3 columns" data-sticky-container>
            <div class="sticky" data-sticky data-margin-top="5">
                <h5>Search for farmers markets</h5>
                {# search #}
                <form id="searchform" action="{% url 'search_list_view' %}" method="get" accept-charset="utf-8">

                <div class="switch">
                    <input class="switch-input" id="RadioSwitch1" type="radio" checked name="search_type" value="fm_name">
                    <label class="switch-paddle" for="RadioSwitch1">
                        <span class="switch-text">Name</span>
                    </label>
                </div>


                <div class="switch">
                    <input class="switch-input" id="RadioSwitch2" type="radio" name="search_type" value="fm_address">
                    <label class="switch-paddle" for="RadioSwitch2">
                        <span class="switch-text">Location</span>
                    </label>
                </div>
                <div class="switch">
                    <input class="switch-input" id="RadioSwitch3" type="radio" name="search_type" value="fm_programs_accepted">
                    <label class="switch-paddle" for="RadioSwitch3">
                        <span class="switch-text">Programs Accepted</span>
                    </label>
                </div>

                <div class="">
                    <input class="" id="searchbox" name="q" type="text" placeholder="Search for...">
                    <button class="button" type="submit">Go!</button>
                </div>
                </form>
            </div> {# end stickey #}
        </div> {# end med-3 #}
    </div> {# end row #}

{% endblock %}
