{% extends "base.html" %}
{% load review_tags %}
{% block title %}
    All Farmers Markets
{% endblock %}
{% block body %}

    <h1>FM list</h1>
    <div class="row">
        {# Main Columun #}
        <div class="small-9 columns boarder-right">
            Sort...
            <div class="button-group">
                <a href="{% url 'farmers_market_list_view' %}?rated=-average_rating" class="button">Highest Rated</a>
                <a href="{% url 'farmers_market_list_view' %}?sort=-fm_updated" class="button">Recently Updated</a>
                <a href="{% url 'farmers_market_list_view' %}" class="button">Alphabetical</a>
            </div>
            {% for market in object_list %}
                <div class="callout">
                    <div class="row">
                        {# Thumbnail #}
                        <div class="small-1 columns">
                            <img class="thumbnail" src="{{ market.fm_picture_url}}" alt="{{ market.fm_name }}" />
                        </div>
                        {# Main FM content #}
                        <div class="small-8 columns">
                            <a href="{% url 'farmers_market_detail_view' fm_slug=market.fm_slug %}">
                                <strong>{{ market.fm_name }}</strong>
                            </a>
                            {% total_review_average market 5 as stars %}
                            {% if stars == 0 %}
                                <p>No reviews yet.</p>
                            {% else %}
                                <span class="badge"><strong>{{ stars }}</strong></span>
                            {% endif %}
                        </div>
                        {# FM Address #}
                        <div class="small-3 columns">
                            {{ market.fm_address }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {# SideBar column #}
        <div class="small-3 columns" data-sticky-container>
            <div class="sticky" data-sticky data-margin-top="5">
                <h1>Sidebar!</h1>
                <h5>Search for Farmers Markets</h5>
                {# search #}
                <form id="searchform" action="{% url 'search_list_view' %}" method="get" accept-charset="utf-8">
                    <div class="">
                        <input class="" id="searchbox" name="q" type="text" placeholder="Search for...">
                        <button class="button" type="submit">Go!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {# pagination #}
    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        {% if page_obj.has_previous %}
            <li class="pagination-previous"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
        {% endif %}
        {% for linkpage in paginator.page_range  %}
            {% if linkpage == page_obj.number %}
                <li class="current"><span class="show-for-sr">You're on page</span>{{ linkpage }}</li>
            {% else %}
                <li><a href="?page={{ linkpage }}" aria-label="Page {{ linkpage }}">{{ linkpage }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="pagination-next"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
            <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
        {% endif %}
    </ul>

{% endblock %}
