{% extends "base.html" %}
{% load review_tags %}
{% block title %}
    Farmers Markets
{% endblock %}
{% block body %}

    <h1>FM list</h1>
    <div class="row">
        {# Main Columun #}
        <div class="small-9 columns boarder-right">
            {% for market in object_list %}
                <div class="callout">
                    <div class="row">
                        {# Thumbnail #}
                        <div class="small-1 columns">
                            <img class="thumbnail" src="{{ market.fm_picture_url}}" alt="{{ market.fm_name }}" />
                        </div>
                        {# Main FM content #}
                        <div class="small-8 columns">
                            <a href="{% url 'farmers_market_detail_view' fm_slug=market.fm_slug %}">
                                <strong>{{ market.fm_name }}</strong><br>
                            </a>
                            {% total_review_average market 5 as stars %}
                            {% if stars == 0 %}
                                <p>No reviews yet.</p>
                            {% else %}
                                <p>This market got {{ stars }} out of 5 stars.</p>
                            {% endif %}
                        </div>
                        {# FM Address #}
                        <div class="small-3 columns">
                            {{ market.fm_address }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {# SideBar column #}
        <div class="small-2 columns" data-sticky-container>
            <div class="sticky" data-sticky data-margin-top="5">
                <h1>Sidebar!</h1>
                <h3>Good place for search...</h3>
            </div>
        </div>
    </div>
    {# pagination #}
    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        {% if page_obj.has_previous %}
            <li class="pagination-previous"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
        {% endif %}
        {% for linkpage in paginator.page_range  %}
            {% if linkpage == page_obj.number %}
                <li class="current"><span class="show-for-sr">You're on page</span>{{ linkpage }}</li>
            {% else %}
                <li><a href="?page={{ linkpage }}" aria-label="Page {{ linkpage }}">{{ linkpage }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="pagination-next"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
            <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
        {% endif %}
    </ul>

{% endblock %}
