button.radius, .button.radius {
    border-radius: 3px;
}
button.round, .button.round {
    border-radius: 1000px;
}
.button.disabled, .button[disabled] {
    opacity: .75;
    cursor: not-allowed;
}
input.secondary.hollow.button {
    font-weight: bold;
}
.boarder-right {
    border-right: 1px solid #CACACA;
}
.hero-text {
    color: white;
    padding-top: 1.75em;
}
.home-hero {
    background: url("https://s3-us-west-2.amazonaws.com/frmrsmrkt/review_app/img/FrmrsMrktcom.jpg");
    height: 100%;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}
.title-bar {
    background: #e6e6e6;
}
.badge {
    font-size: 1.1em;
    background: #4c9d2f;
}
.badge-large {
    font-size: 3em;
}
.list-thumb {
    /*height: 4rem;*/
    max-width: 4rem;
}
.profile-picture {
    width: 18rem;
    position: relative;
    top: -125px;
    margin-bottom: -125px;
}
.fm-hero {

}
