button.radius, .button.radius {
    border-radius: 3px;
}
button.round, .button.round {
    border-radius: 1000px;
}
.boarder-right {
    border-right: 1px solid #CACACA;
}
.hero-text {
    color: white;
    padding-top: 1.75em;
}
.badge {
    font-size: 1.1em;
}
.thumbnail {
    height: 3em;
}
