{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    About FatHen.co
{% endblock %}

{% block body %}
    <div class="row">
        <br>
        <div class="medium-4 columns">
            <img class="float-center" src="{% static "review_app/img/dhcrain-headshot.jpg" %}" alt="" />
        </div>
        <div class="medium-8 columns">
                <h2>About Fat Hen and Davis Crain</h2>
            <div class="row">
                <div class="medium-6 columns">
                    <ul>
                        <li>about FatHen.co</li>
                    </ul>
                </div>
                <div class="medium-6 columns">
                    <ul>
                        <li>About Davis</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="medium-4 columns">

        </div>
    </div>
{% endblock %}
