{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}FatHen.co{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'review_app/css/foundation.min.css' %}" />
        <link rel="stylesheet" href="{% static 'review_app/css/app.css' %}" />
        <script src="https://use.fontawesome.com/d267bba531.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
    {# nav bar #}
    {# allows for mobile menu #}
    <div class="title-bar top-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div data-sticky-container>
    <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%" id="example-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-logo"><img src="{% static "review_app/img/fathen_cir.gif" %}" alt="FatHen.co" /></li>
                <li><a href="{% url 'index_view' %}">Home</a></li>
                <li><a href="{% url 'farmers_market_list_view' %}">List of Farmers Markets</a></li>
                {% if user.is_authenticated %}

                {% else %}
                    <li><a href="{% url 'register_view' %}">Create Account</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                {% if user.is_authenticated %}
                <li class="menu-logo"><img src="{% static "review_app/img/block.png" %}" alt="FatHen.co" /></li>

                    <li class="menu-text">Welcome {{ user }}</li>
                    <li><a href="{% url 'profile_view' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}?next={% url 'index_view' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'contact_view' %}">Contact Us</a></li>
            </ul>
        </div>
    </div>
    </div>
    {% block hero %}
    {% endblock %}
    <div class="container">
        <div class="row">
            {% block body %}
            {% endblock %}
            {# block main is used for django-review #}
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <!-- Footer that is hidden before 'sticky' is ready and appears at the bottom of the page onload -->
<footer style="visibility:hidden;">
<div class="row">
    <br>
    <div class="medium-12 columns">
      <div class="row">
        <div class="medium-1 columns">
            <img src="{% static "review_app/img/fathen_cir.gif" %}" alt="FatHen.co" />
        </div>
        <div class="medium-5 columns">
          <p class='footer-text'><strong>Fat Hen</strong> - noun <br>1. a common plant, Chenopodium album, with small green flowers and whitish scales on the stem and leaves: family Chenopodiaceae (chenopods) Also called (US) pigweed, lamb's-quarters</p>
        </div>
        <div class="medium-6 columns">
            <ul class="menu float-right">
                <li><a href="{% url 'index_view' %}">Home</a></li>
                <li><a href="{% url 'farmers_market_list_view' %}">List of Farmers Markets</a></li>
                <li><a href="{% url 'contact_view' %}">Contact Us</a></li>
                <li><a href="#">About FatHen.co</a></li>
            </ul>
            <br>
            <br>
            <p class="text-right footer-text">&copy;2016 Copyright | Built by <a href="http://dhcrain.com/">dhcrain.com</a></p>
        </div>
      </div>
    </div>
</div>
</footer>
        <script src="{% static 'review_app/js/vendor/jquery.js' %}"></script>
        <script src="{% static 'review_app/js/vendor/what-input.js' %}"></script>
        <script src="{% static 'review_app/js/vendor/foundation.min.js' %}"></script>
        <script src="{% static 'review_app/js/app.js' %}"></script>
        <script>
          $(document).foundation();
        </script>
        {% block script %}{% endblock %}
    </body>
</html>
