{% extends "base.html" %}
{% block hero %}
<div class="home-hero">
    <div class="row">
        <div class="medium-5 small-10 columns login-outer">
            <div class="login">
                {% if user.is_authenticated %}
                    <p>Welcome, {{ request.user }} You are logged in</p>
                {% else %}
                    <form class="" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <input class="expanded button" type="submit" name="login" value="Login">
                    </form>
                    <h2 class="text-center">OR</h2>
                    <a class="expanded button success" href="{% url 'register_view' %}"><b>Create an Account</b></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
{% endblock %}
