{% extends "base.html" %}

{% block title %}{{ user }}'s Profile{% endblock %}
{% block body %}

<div class="row">
    <h1>Welcome {{ request.user }}</h1>
    <div class="medium-4 columns boarder-right">
        <img class="list-thumb thumbnail float-right" src="{{ object.profile_picture_url }}" alt="" />
        <p>User type: {{ object.user_type }}</p>
        <a href="{% url 'farmers_market_create_view' %}">Add a Farmers Market</a><br>
        <a href="{% url 'vendor_create_view' %}">Add Vendor</a><br>
        <a href="#edit_profile">Edit Profile</a>
        <hr>

        {% if object.profile_fm_like.all %}
            <h4>Favorite Farmers Markets</h4>
            <ul class="fav-ul">
            {% for item in object.profile_fm_like.all %}
                <li>
                    <img class="tiny-thumb" src="{{ item.fm_picture_url}}" alt="{{ item.fm_name }} Picture" />
                    <a href="{% url 'farmers_market_detail_view' item.fm_slug %}">{{ item.fm_name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <h3 class="">You don't have any Farmers Markets Favorited</h3>
            <a class="" href="{% url 'farmers_market_list_view' %}">Find Some</a>
        {% endif %}

        <br>
        <h4>Favorite Vendors</h4>
        {% if object.profile_vendor_like.all %}
        <ul class="fav-ul">
            {% for item in object.profile_vendor_like.all %}
                <li>
                    <img class="tiny-thumb" src="{{ item.vendor_picture_url}}" alt="{{ item.vendor_name }} Picture" />
                    <a href="{% url 'vendor_detail_view' item.vendor_slug %}">{{ item.vendor_name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <h3 class="text-center">You don't have any Vendors Favorited</h3>
            <a class="button float-center" href="{% url 'farmers_market_list_view' %}">Find Some</a>
        {% endif %}
    </div> {# end medium-4 #}
    <div class="medium-8 columns">
        {% if status_list %}
        <h3>This week's Status Updates.</h3>
            {# Will show status updates from the previous 7 days #}
            {% for status in status_list %}
            <div class="callout">
            <div class="row">
                <div class="small-2 columns">
                    {# fm/v pic #}
                    {% if status.status_fm.fm_name %}
                        <img class="list-thumb" src="{{ status.status_fm.fm_picture_url }}" alt="" />
                    {% endif %}
                    {% if status.status_vendor.vendor_name %}
                        <img class="list-thumb" src="{{ status.status_vendor.vendor_picture_url }}" alt="" />
                    {% endif %}
                </div>
                <div class="small-10 columns">
                    {# Name #}
                    {% if status.status_fm.fm_name %}
                        <a href="{% url 'farmers_market_detail_view' status.status_fm.fm_slug %}"><h4>{{ status.status_fm.fm_name }}</h4></a>
                    {% endif %}
                    {% if status.status_vendor.vendor_name %}
                        <a href="{% url 'vendor_detail_view' status.status_vendor.vendor_slug %}"><h4>{{ status.status_vendor.vendor_name }}</h4></a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <p>{% if status.status_present == 'Yes' %}✔️{% else %}✖️{% endif %} Coming this week?</p>
                </div>
                <div class="large-8 columns">
                    <strong>{{ status.status_comment }}</strong>
                </div>
                <div class="small-2 columns">
                    {% if status.status_picture %}
                        <img class="list-thumb" src="{{ status.status_picture.url }}" alt="Status Picture" /><br>
                    {% endif %}
                    <a class="float-right" data-open="statusDetailModal{{ status.pk }}">details</a>
                    <small class="float-right">{{ status.status_created|date:"D, M d" }}</small>
                </div>
            </div>
        </div>


            {# Status Detail Modal #}
            <div class="reveal" id="statusDetailModal{{ status.pk }}" data-reveal>
                <p class="lead">{{ status.status_fm.fm_name }}{{ status.status_vendor.vendor_name }}</p>

                {% if status.status_picture %}
                    <img class="float-center status-picture" src="{{ status.status_picture.url }}" alt="Status Picture" /><br>
                {% endif %}
                <div class="callout">
                    <p>{{ status.status_comment}}</p>
                </div>
                <small>{{ status.status_created }}</small>

                {# Close Modal #}
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %} {# end for status in status_list #}
        {% endif %} {# end if status_list #}

    </div> {# end medium-8 #}
</div> {# end row #}

<hr>
    <a id='edit_profile'></a>
    <form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" name="submit" value="Update Profile">
    </form>
{% endblock %}
