{% extends "base.html" %}

{% block title %}{{ user }}'s Profile{% endblock %}
{% block body %}
    <div class="row">
        <h1>Profile</h1>
        <div class="medium-3 columns boarder-right">
            <img class="profile-thumb" src="{{ object.profile_picture_url }}" alt="" />
        </div>
        <div class="medium-9 columns">
            <p>User: {{ object.profile_user}}</p>
            <p>User type: {{ object.user_type }}</p>
        </div>
    </div>
    <br>
<hr>
<h4>Fav FM</h4>
{% if object.profile_fm_like.all %}
<div class="row" data-equalizer data-equalize-on="medium">
    {% for item in object.profile_fm_like.all %}
        <div class="medium-4 large-3 columns">
            <div class="callout" data-equalizer-watch>
                <div class="row">
                    <div class="small-4 columns">
                        <img src="{{ item.fm_picture_url}}" alt="{{ item.fm_name }} Picture" />
                    </div>
                    <div class="small-8 columns">
                        <a href="{% url 'farmers_market_detail_view' item.fm_slug %}">{{ item.fm_name }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <h3 class="text-center">You don't have any Famers Markets Favorited</h3>
    <a class="button float-center" href="{% url 'farmers_market_list_view' %}">Find Some</a>
{% endif %}
<hr>
    <h4>Favorite Vendors</h4>
{% if object.profile_vendor_like.all %}{
    <div class="row" data-equalizer data-equalize-on="medium">
        {% for item in object.profile_vendor_like.all %}
            <div class="medium-4 large-3 columns">
                <div class="callout" data-equalizer-watch>
                    <div class="row">
                        <div class="small-4 columns">
                            <img src="{{ item.vendor_picture_url}}" alt="{{ item.vendor_name }} Picture" />
                        </div>
                        <div class="small-8 columns">
                            <a href="{% url 'vendor_detail_view' item.vendor_slug %}">{{ item.vendor_name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h3 class="text-center">You don't have any Vendors Favorited</h3>
    <a class="button float-center" href="{% url 'farmers_market_list_view' %}">Find Some</a>
{% endif %}
<hr>
    <form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" name="submit" value="Update Profile">
    </form>
{% endblock %}
